html, body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9999;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 5%) 0px 0rem 0rem 1px, rgb(0 0 0 / 5%) 0px 0rem 0.2rem, rgb(0 0 0 / 5%) 0px 0.5rem 1.5rem;
    border:0;
    border-radius: 0.5rem;
}

.transparentCard {
    background: transparent;
    position: relative;
    min-height: 13vh;
}

.transparentCard img {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 15vh;
    width: 15vh;
}

.userCard {
    text-align: center;
    padding-top: 4rem;
    font-size: 1.5rem;
}

.userCard a {
    text-decoration: none;
    color: #3498db;
}

.qrCode {
    padding-top: 2rem;
}

#qrAuthorize, .showPreviousSignups {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#qrAuthorize p {
    margin: 0;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
}

#qrAuthorize img {
    height: 10rem;
    width: 10rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.showPreviousSignups {
    padding: 5px 16px;
    height: max-content;
}

.signupsContainer {
    width: clamp(300px, 90%, 750px);
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.signup {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid #44444420;
    box-shadow: 0px 0px 2px 0px #44444454;
    margin: 0.3rem;
    border-radius: 5px;
}

.signupHeader {
    display: flex;
    padding: 0.5rem 0.25rem;
}

.signupDomain {
    flex: 1;
    font-size: 1.2rem;
}

.signupInfo {
    display: none;
    animation: animateElement linear .1s;
    animation-iteration-count: 1;
}

.show {
    display: block;
    
}

@keyframes animateElement{
    0% {
      opacity:0;
      transform:  scaleY(0) translateY(-100%);
    }
    100% {
      opacity:1;
      transform:  scaleY(1) translateY(0%);
    }
  }



.fire {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}