html,
body {
	height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
	position: relative;
}

a {
	text-decoration: none;
	color: #1967d2;
}

.wrapper {
	margin-top: 0;
	height: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.loading {
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fbfbf3;
	z-index: 9999;
}

.loginContainer {
	padding: 1.5rem;
	width: 80%;
	max-width: 430px;
	border: 1px solid #dedede;
	border-radius: 0.2rem;
	background-color: #ffffff;
	text-align: center;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
		0 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}

h1 {
	margin-bottom: 1rem;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.errorMessage {
	color: red;
	font-size: 1.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	margin-bottom: 1.5rem;
	padding: 5px 10px;
	border-radius: 0.2rem;
	border: 1px solid #dedede;
	background-color: #f2f2f2;
	outline: none;
}

input[type="submit"] {
	background-color: #0099ff;
	color: #ffffff;
	border: none;
	border-radius: 0.3rem;
	margin-bottom: 0.8rem;
	height: 2rem;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: hsl(204, 100%, 30%);
}

@media (max-width: 30em) {
	.wrapper {
		margin-top: 0;
	}
	.loginContainer {
		width: 100vw;
		height: 99vh;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		padding: 0 1.5rem;
		box-shadow: 0 0 0 0px rgb(0 0 0 / 10%);
		-webkit-box-shadow: 0 0 0 0px rgb(0 0 0 / 10%);
		-moz-box-shadow: 0 0 0 0px rgb(0 0 0 / 10%);
		border: 0;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		padding: 10px;
		font-size: 1.3rem;
	}

	input[type="submit"] {
		font-size: 1.3rem;
		height: 3rem;
	}
}
